#grade{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(238, 161, 161), rgb(0, 255, 200), rgb(226, 191, 126));
    padding: 100px;
}
/* .main{
    background-color: rgb(82, 17, 17);
    
} */
.div1{
    color: rgb(106, 13, 228);
    background-color: rgb(188, 126, 190);
    text-align: center;
}
image{
    text-align: center;
}
#div2{
   display: block;
   margin-left: 30%;
   margin-right: 20%;
   
}
.div3{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-style:inherit;
}
.div4{
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
.div5{
    text-align: center;
    font-size: 40px;
}
.div6{
    padding: 10PX;
    display: block;
    margin-left: 40%;
    margin-right: 30%;

    
}
/* .div6 select{
    width: 60%; 
    margin-left: 40%;
} */
textarea .div6 select{
    width: 50%; 
    margin-left: 40%;
   
}
/* .main1{
    background-color: beige;
} */
#grad1{
    background-color: whitesmoke; 
    background-image: linear-gradient(0,0,255,0.5);/* For browsers that do not support gradients */
    
}
.div7{
    display: block;
    margin-left: 40%;
    margin-right: 30%;

}
input{
    width: 200px;
    border-style: dotteds;
    height: 20px;
}

    
